body {
    font-family: Arial, sans-serif;
    background-color: #f5ebeb;
}

.container {
    width: 100%;
    height: auto; /* Increase width to accommodate both form and image */
    margin: 10px;
    background-color: #989cae;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    margin-top: 100px;
    display: flex; /* Use flexbox for better alignment */
}

.form-container {
    width: 5%; /* Set width for the form container */
    padding: 20px;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 150px;
}

.form-group {
    margin-bottom: 5px; /* Increase margin for better spacing */
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px); /* Adjust width and add padding to match other elements */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Include padding in the element's total width */
}

button[type="submit"] {
    width: 98%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}


