body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    margin-top: 50px;
}

h1 {
    color: #333;
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-md-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.rounded-circle {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #007bff;
    margin-bottom: 15px;
}

#fileInput {
    display: none;
}

.btn-primary {
    cursor: pointer;
}

.col-md-8 {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
}